src/python/data/LLM網路爬蟲終極實戰/ch16/ch16-3-2.json
{
  "name": "ch16-3-2",
  "nodes": [
    {
      "parameters": {
        "cityName": "={{ $json.query }}",
        "language": "en"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -416,
        112
      ],
      "id": "0cf61242-2b22-46ce-97ec-7734d25d94f7",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "wL9L1dPrJk5jgf6V",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "id": "cfe07f80-6cf5-4e3b-8a14-f147c90cc6ef",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeceba17-bd1a-4d69-af16-d6b15aea101c",
              "name": "query",
              "value": "Taipei",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        112
      ],
      "id": "6f72664f-7654-4530-af25-e342b9c2efe5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a0f16af8-a3f6-447a-9433-1677b51224ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fbcbc38338c7862e1320bac899d0a657225bf66cda187c985bb8ba77b39eebe"
  },
  "id": "CQpDVInNkG4dS5zv",
  "tags": []
}