src/python/data/LLM網路爬蟲終極實戰/ch15/ch15-5a.json
{
  "name": "ch15-5a",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -64
      ],
      "id": "afa444b2-05de-4cb9-9702-1acfff717962",
      "name": "When chat message received",
      "webhookId": "e5afb9e2-5a0f-4eb6-b3b7-0dc0b47839fc"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n_collection",
          "mode": "list",
          "cachedResultName": "n8n_collection"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -384,
        -64
      ],
      "id": "719234fb-64ed-482b-9dc7-acb4e72b2838",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "KbEQbieNuBhBEe22",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "EntropyYue/jina-embeddings-v2-base-zh:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -416,
        112
      ],
      "id": "7483c30c-7232-480e-97ac-0bc471fc82b2",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "HZfV99F2z4bJZt6X",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fcf254b-70bd-496e-8ec1-2c6eda0639e6",
              "name": "document.pageContent",
              "value": "={{ $json.document.pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -64
      ],
      "id": "f42d638d-2482-4a87-ae4b-f8defe33bb14",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "124aa153-55b6-4319-b459-554a3dbc76f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fbcbc38338c7862e1320bac899d0a657225bf66cda187c985bb8ba77b39eebe"
  },
  "id": "6jV3JmJ3PYlr9tKr",
  "tags": [
    {
      "createdAt": "2025-08-19T11:31:05.428Z",
      "updatedAt": "2025-08-19T11:31:05.428Z",
      "id": "AqA4MvyLbar0q9ya",
      "name": "Qdrant"
    }
  ]
}