python/data/LLM網路爬蟲終極實戰/ch16/ch16-3-2-Tool.json
{
  "name": "ch16-3-2-Tool",
  "nodes": [
    {
      "parameters": {
        "cityName": "={{ $json.query }}",
        "language": "en"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -416,
        112
      ],
      "id": "1d017b03-65d4-4fae-b970-92794e17629a",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "wL9L1dPrJk5jgf6V",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -64
      ],
      "id": "17fc41f1-cf51-477d-a36d-bb0433d6138f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "id": "42225955-8a2f-438c-a17f-12e8bdb0e4dd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeceba17-bd1a-4d69-af16-d6b15aea101c",
              "name": "query",
              "value": "Taipei",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        112
      ],
      "id": "90e2ea6e-dcaa-42ea-81ca-05dfe144e41a",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14391a0c-dfea-441a-8e87-5cfdba554c68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fbcbc38338c7862e1320bac899d0a657225bf66cda187c985bb8ba77b39eebe"
  },
  "id": "unApgOcieniTL720",
  "tags": []
}