python/data/LLM網路爬蟲終極實戰/ch14/ch14-4-2.json
{
  "name": "ch14-4-2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 取得搜尋結果\nconst searchData = $input.all()[0].json;\nconst results = searchData.results || [];\n\n// 取前 5 筆結果並格式化\nconst processedResults = results.slice(0, 5).map((result, index) => {\n  return {\n    序號: index + 1,\n    標題: result.title || '',\n    URL: result.url || '',\n    內容: result.content || '',\n    搜尋時間: new Date().toLocaleString('zh-TW')\n  };\n});\n\nreturn processedResults.map(item => ({\n  json: item\n}));"
      },
      "id": "b6bb7b39-82f2-4265-9d54-48d4cdaf5bd2",
      "name": "處理搜尋結果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "id": "c0285c5e-ffe6-4c51-b19c-cab1303051fd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8888/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "什麼是RAG"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "categories",
              "value": "general"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "7035aa59-f457-4bc3-8349-8bb036a34a06",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\F5326\\ch14\\queryResult.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "140b7fce-d64a-4195-8523-ecf2634c43bd",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        336,
        0
      ],
      "id": "ecbb5cee-9575-40a1-bed2-4d8a8248eaa9",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "處理搜尋結果": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "處理搜尋結果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c599ab4d-8ab5-4e41-be16-90f6085e7b84",
  "meta": {
    "instanceId": "1fbcbc38338c7862e1320bac899d0a657225bf66cda187c985bb8ba77b39eebe"
  },
  "id": "tCu7zM1wp8hmYyMB",
  "tags": []
}