python/data/LLM網路爬蟲終極實戰/ch13/ch13-5d.json
{
  "name": "ch13-5d",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        -160
      ],
      "id": "97f4f33b-dd1e-438f-af96-05d6d69cd376",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -688,
        -160
      ],
      "id": "f47c47e3-8b02-4dbb-a220-2c8bb4cc34ed",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "160e2d24-e7ac-4882-98c0-c79fd75a3144",
              "name": "產品",
              "value": "={{ $json.product }}",
              "type": "string"
            },
            {
              "id": "4ab08a34-78f7-4649-96e3-5b6036b7fc05",
              "name": "定價",
              "value": "={{ $json.price }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -160
      ],
      "id": "7478bda3-646d-4128-8194-0f9b91f20022",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"items\": [\n    {\n      \"product\": \"iPhone\",\n      \"price\": 999,\n      \"quantity\": 2\n    },\n    {\n      \"product\": \"MacBook\",\n      \"price\": 1299,\n      \"quantity\": 1\n    },\n    {\n      \"product\": \"AirPods\",\n      \"price\": 179,\n      \"quantity\": 3\n    }\n  ]\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        -160
      ],
      "id": "8009ed81-cbf5-470d-b064-f4bdcb63ef74",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        -160
      ],
      "id": "fa2071a9-cc22-4e68-abc6-24a8c4bba28b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:/F5326/ch13/products.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -208,
        -160
      ],
      "id": "25563a0a-6cbd-47af-aec2-b7fab3fc37fc",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dad883eb-8365-4c9b-a988-638e3c1299e1",
  "meta": {
    "instanceId": "1fbcbc38338c7862e1320bac899d0a657225bf66cda187c985bb8ba77b39eebe"
  },
  "id": "sUU0t5jDrdLIa64G",
  "tags": []
}